<!DOCTYPE html>
<html>
<head>
    <title>Pannello Amministratore</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <header>
        <div th:if="${userDetails}">
            Bentornato Admin <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
    </header>
    <div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
    <h1>Gestione</h1>
    <h2>(riservato agli amministratori)</h2>
    <div>	
        <ul>
            <li><a href="/admin/cds/new">Aggiungi CD Musicale</a></li>
            <li><a href="/admin/authors/new">Aggiungi Autore</a></li>
        </ul>
    </div>
    
    <div>
        <br>
        <a href="/">Torna alla Home</a>
    </div>
</body>
</html>
