<!DOCTYPE html>
<html>

<head>
	<title>
		negozio - Login
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header class="navbar">
		<div class="navbar-container">
			<div class="nav-brand">
				<a href="/"><img src="/images/logo.png" alt="Logo" /></a>
			</div>
			<div class="nav-actions">
				<div th:if="${userDetails}" style="display: flex; align-items: center; gap: 15px;">
					<span th:text="${userDetails.username}"></span>
					<form th:action="@{/logout}" method="POST">
						<button type="submit" class="btn-logout">Logout</button>
					</form>
				</div>
				<div th:unless="${userDetails}">
					<a href="/login">Accedi</a> | <a href="/register">Registrati</a>
				</div>
			</div>
		</div>
	</header>
	<h1>Login</h1>
	<form th:action="@{/login}" method="POST">
		<div>
			<span>Username:</span>
			<span><input name="username" type="text" required /></span>
		</div>
		<div>
			<span>Password:</span>
			<span><input name="password" type="password" required /></span>
		</div>
		<div>
			<span th:if="${param.error != null}">Username o password errati</span>
		</div>
		<div>
			<span><button type="submit">Login</button></span>
		</div>
	</form>
	<div>
		<a th:href="@{/register}" th:text="Registrati">Registrati</a>
	</div>
</body>

</html>