<!DOCTYPE html>
<html>

<head>
    <title>CD Musicali</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <header class="navbar">
        <div class="navbar-container">
            <div class="nav-brand">
                <a href="/"><img src="/images/logo.png" alt="Logo" /></a>
            </div>
            <div class="nav-actions">
                <div th:if="${userDetails}" style="display: flex; align-items: center; gap: 15px;">
                    <span th:text="${userDetails.username}"></span>
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn-logout">Logout</button>
                    </form>
                </div>
                <div th:unless="${userDetails}">
                    <a href="/login">Accedi</a> | <a href="/register">Registrati</a>
                </div>
            </div>
        </div>
    </header>
    <h1>Elenco CD</h1>
    
    <div th:if="${isAdmin}" style="margin-bottom: 20px;">
        <a href="/admin/cds/new"><button>Crea Nuovo CD</button></a>
    </div>

    <div th:if="${cds==null || cds.isEmpty()}">Non ci sono CD nel sistema</div>
    <ul>
        <li th:each="cd : ${cds}">
            <a th:href="@{'/cds' + '/' + ${cd.id}}" th:text="${cd.name}">titolo</a>
            <span th:text="' - €' + ${cd.price}">prezzo</span>
        </li>
    </ul>
</body>

</html>
