<!DOCTYPE html>
<html>

<head>
    <title>CD Musicali</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
    <h1>CD Musicali</h1>
    <div th:if="${cds==null || cds.isEmpty()}">Non ci sono CD nel sistema</div>
    <ul>
        <li th:each="cd : ${cds}">
            <a th:href="@{'/cds' + '/' + ${cd.id}}" th:text="${cd.name}">titolo</a>
            <span th:text="' - €' + ${cd.price}">prezzo</span>
        </li>
    </ul>
</body>

</html>
