<!DOCTYPE html>
<html>

<head>
    <title>Dettagli CD</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
    <h1>Dettagli CD</h1>

    <div th:if="${cd}">
        <span th:text="${cd.name}">Titolo</span>
        <span th:text="'(' + ${cd.yearOfRelease} + ')'">Anno</span>
        
        <div>
            <strong>Prezzo:</strong> €<span th:text="${cd.price}">Prezzo</span>
        </div>
        <div>
            <strong>Quantità Disponibile:</strong> <span th:text="${cd.availableQuantity}">Quantità</span>
        </div>
        <div>
            <strong>Genere:</strong> <span th:text="${cd.genre}">Genere</span>
        </div>
        <div>
            <strong>Etichetta Discografica:</strong> <span th:text="${cd.recordLabel}">Etichetta</span>
        </div>
        <div>
            <strong>Autore:</strong> 
            <a th:if="${cd.author}" th:href="@{'/authors' + '/' + ${cd.author.id}}" th:text="${cd.author.name} + ' ' + ${cd.author.surname}">Autore</a>
            <span th:unless="${cd.author}">Non specificato</span>
        </div>

        <div th:if="${isAdmin}">
            <hr>
            <h3>Amministrazione</h3>
            <a th:href="@{'/admin/cds/' + ${cd.id} + '/edit'}">Modifica CD</a>
            <form th:action="@{'/admin/cds/' + ${cd.id} + '/delete'}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('Sei sicuro di voler eliminare questo CD?')">Elimina CD</button>
            </form>
        </div>
    </div>

    <div th:unless="${cd}">
        Il CD richiesto non esiste.
    </div>

    <div>
        <br>
        <a href="/cds">Torna all'elenco dei CD</a>
    </div>
</body>

</html>
