<!DOCTYPE html>
<html>
<head>
    <title>Negozio - Home</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
    <h1>Benvenuto nel Negozio Musicale!</h1>
    
    <h3>Esplora il catalogo:</h3>
    <ul>
        <li><a href="/cds">Lista dei CD Musicali</a></li>
        <li><a href="/authors">Lista degli Autori</a></li>
        <li><a href="/reservations">Visualizza le Prenotazioni</a></li>
        <li><a href="/reservationItems">Visualizza gli Elementi Prenotati</a></li>
    </ul>
</body>
</html>
